<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center jumbotron">
                  <h1>Edit URL</h1>
                  <h2>Short:</h2>
                  <h2><%= url.shortURL %></h2>
                   <form action="/urls/<%= url.shortURL %>?_method=PUT" method="POST" style="margin:100px;">
                      <label for="longURL"></label>
                      <input id="longURL" type="text" name="longURL" placeholder="<%= url.longURL %>" style="width: 300px">
                      <input class="btn btn-default" type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>